*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{
    background-image: linear-gradient(90deg,#426980,#bad6ff);
    height: 95px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 13px;
}

.topo img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 12px;
}
.topo img:hover{
	opacity: 0.68;
    transition: opacity 0.4s;
}

h1{
    color: white;
    font-size: 40;
    cursor: pointer;
    margin-left: 1px;
}
h1:hover{
	opacity: 0.8;
    transition: opacity 0.3s;
}

.seta{
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.seta img{
    width: 13px;
    height: 13px;
    margin: 5px;    
}

.caixa{
    border: 2px solid rgba(0, 0, 0, 0.041);
    box-shadow: 10px 10px 20px 5px rgba(102, 102, 102, 0.233);;
    text-align: center;
    height: 400px;
    width: 550px;
    margin-left: 15px;
    border-radius:5px;
}

.entrar{
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
    background-color:#39b1c4;
    color: whitesmoke;
    border: none;
    border-radius:5px;
    cursor: pointer;
    font-size: 14;
}

input
{
    border-radius: 3px;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(192, 192, 192);
    transition: 0.2s; 
}

input:hover
{
    border-color: rgb(44, 130, 241);
}

input:focus
{
    border-color: rgb(44, 130, 241);
    background-color: rgb(253, 249, 249);
    outline-style: none;
    outline-color: none;
    box-shadow: 0px 0px 7px rgb(44, 130, 241, 0.9);
}

.grid{
    padding: 35px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.banner{
    width: 700px;
    height: 360px;
    margin-top: -40px;
}

.solo{
    align-items: center;
    background-image: linear-gradient(90deg,#426980,#bad6ff);
    height: 35px;
    text-align: center;
    color: rgb(59, 59, 59);
    font-size: 20px;
    border-radius: 4px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
}

.login{
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

body{
    background-color: rgb(241, 241, 241);   
}




